In [61]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import timedelta

In [62]:
ticker_list = ['SPY', 'QQQ', 'UUP', 'EEM', 'TLT']

In [63]:
prices = pd.DataFrame(columns=ticker_list)

## Obtain Prices <a id='prices'>

In [90]:
for ticker in ticker_list:
    prices[ticker] = yf.download(ticker, '2015-01-01', '2019-01-01')['Adj Close']

prices.sort_values(by=['Date'], inplace=True, ascending=False)
prices.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                   SPY         QQQ        UUP        EEM         TLT
Date
2018-12-31  245.275513  152.999161  24.950497  37.953716  118.718773
2018-12-28  243.145813  151.719696  24.999516  38.128616  118.269348
2018-12-27  243.459900  151.799057  25.068142  37.769096  117.282539
2018-12-26  241.605011  151.213882  25.175983  37.817680  117.263016
2018-12-24  229.985046  142.327103  25.048532  37.079205  118.533142

## Create Return Arrays <a id='returns'>

In [76]:
# Find a return
np.log(prices['SPY'][0]/prices['SPY'][125])

-0.07380716429632427

In [82]:
# Create a return array
price = prices['SPY']
np.log(price / price.shift(-125))

Date
2018-12-31   -0.073807
2018-12-28   -0.080392
2018-12-27   -0.077662
2018-12-26   -0.079609
2018-12-24   -0.137218
                ...
2015-01-08         NaN
2015-01-07         NaN
2015-01-06         NaN
2015-01-05         NaN
2015-01-02         NaN
Name: SPY, Length: 1006, dtype: float64

In [86]:
def stock_return(prices, daily_periods):
    return np.log(prices / prices.shift(-daily_periods))

In [89]:
returns = pd.DataFrame(columns=ticker_list)

for ticker in ticker_list:
    returns[ticker] = stock_return(prices[ticker], 126)
    
returns.head()

                 SPY       QQQ       UUP       EEM       TLT
Date
2018-12-31 -0.071671 -0.102163  0.030940 -0.088836  0.014358
2018-12-28 -0.078953 -0.107877  0.024915 -0.069358  0.007120
2018-12-27 -0.071961 -0.098789  0.027657 -0.070363 -0.001013
2018-12-26 -0.087928 -0.116344  0.037934 -0.088495  0.008200
2018-12-24 -0.135007 -0.172835  0.038074 -0.112147  0.020380

## Create Correlation Matrix

## Initialize Portfolio Weights

## Find Intra-Portfolio Correlation

## Minimize IPC

### References

* https://medium.com/@ishan.s_54240/stock-data-and-analysis-529aa9aee60